body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

html *
{
   font-family: serif;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}

.bg-violet{
  background-color: #9743e4;
}
.text-violet{
  color: #9743e4;
}
.text-white{
  color: white;
}
.bg-white{
  color: white;
}

.navbar-toggler-icon
{
    background-image: url("data:image/svg+xml,%3csvg xmlns='http://www.w3.org/2000/svg' viewBox='0 0 30 30'%3e%3cpath stroke='white' stroke-linecap='round' stroke-miterlimit='10' stroke-width='4' d='M4 7h22M4 15h22M4 23h22'/%3e%3c/svg%3e");
}
.cnavbar{
  display: flex;
  justify-content: space-around;
}

.cnavitem:hover{
  cursor: pointer;
  width: 100%;
  border-bottom:solid red;

}

.navtext-underline{
  padding-bottom: 1px;
  border-bottom: 2px solid white;
}

.cnav-brand{
  margin-left: 15%;
  margin-right: 30%;
}
.banner-div{
  height: 700px;
  width: 100%;
  display: flex;
  justify-content: space-around;
  align-items: center; 
  background-color: lightyellow;
}

.span-1{
  font-size: 25px;
  font-weight: 500;
}
.span-2{
  font-size: 35px;
  font-weight: 500;
}
.span-3{
  font-size: 45px;
  color: #9743e4;
  font-weight: 700;
}
.banner-image-div{
  border: 6px solid #9743e4;;
  border-radius: 200px;
  overflow: overlay;
  /* box-shadow: 5px 5px #9743e4;; */

  box-shadow: 0px -25px 20px -20px rgba(0, 0, 0, 0.45), 25px 0 20px -20px rgba(0, 0, 0, 0.45), 0px 25px 20px -20px rgba(0, 0, 0, 0.45), -25px 0 20px -20px rgba(0, 0, 0, 0.45);

  /* box-shadow: rgba(0, 0, 0, 0.45) 0px 25px 20px -20px; */

  /* box-shadow: rgba(0, 0, 0, 0.25) 0px 54px 55px, rgba(0, 0, 0, 0.12) 0px -12px 30px, rgba(0, 0, 0, 0.12) 0px 4px 6px, rgba(0, 0, 0, 0.17) 0px 12px 13px, rgba(0, 0, 0, 0.09) 0px -3px 5px; */
}
.fixedElement {
  position:sticky;
  top:0;
  width:100%;
  z-index:100;
}

.banner-grid{
  display: grid;
  grid-template-columns: 50% 50%;
  background-color: lightyellow;
  height: 550px;

}

.content-center{
  display: flex;
  justify-content: center;
  align-items: center;
}

.border-botom{
  border-bottom: 4px solid #9743e4;
}

.fade-in {
  opacity: 0;
  transition: opacity 2s ease-in-out;
}

.fade-in.visible {
  opacity: 1;
}

@keyframes progress-animation {
  from {
    width: 0%;
  }
  to {
    width: var(--progress-value);
  }
}

.progress-bar {
  height: 10px; /* You can adjust the height as needed */
  background-color: var(--progress-color);
  border-radius: 10px;
  animation: progress-animation 2s ease-in-out forwards;
}



.letter-onebyone {
  display: inline-block;
  overflow: hidden;
  white-space: nowrap;
  animation: example 1.75s linear 0s infinite alternate;
}

@keyframes example {
  from {
    width: 0;
  }
  to {
    width: 100%;
  }
}


@media all and (min-width:960px) and (max-width: 1024px) {
  /* put your css styles in here */
}

@media all and (min-width:801px) and (max-width: 959px) {
  /* put your css styles in here */
}

@media all and (min-width:769px) and (max-width: 800px) {
  /* put your css styles in here */
}

@media all and (min-width:569px) and (max-width: 768px) {
  /* put your css styles in here */
}

 
@media all and (min-width:0px) and (max-width: 568px) {
  /* put your css styles in here */

  .span-1{
    font-size: 20px;
    font-weight: 500;
  }
  .span-2{
    font-size: 25px;
    font-weight: 500;
  }
  .span-3{
    font-size: 35px;
    color: #9743e4;
    font-weight: 700;
  }

  .text-center-small{
    text-align: center;
  }
  .margin-top2-small{
    margin-top: 2rem;
  }
  .margin-top1-small{
    margin-top: 1rem;
  }

  .cnav-brand{
    margin-left: 5%;
    margin-right: 10%;
  }

  .d-none-small{
    display: none;
  }
}

 

.work-image {
  transition: transform 0.3s ease; /* Smooth transition for the transform property */
}

.work-image:hover {
  transform: scale(1.1); /* Scales the image to 110% */
}

.margin-1-top{
  margin-top: 1rem;
}